<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common/commonBlogic.css">
    <link rel="stylesheet" href="../css/common/commonBolt.css">
    <script type='text/javascript' src='../js/common/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../js/plugins/data.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.menuLeft-bolt.css">
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.menuLeft-bolt.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.dashBoard-bolt.css">
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.dashBoard-bolt.js'></script>
    
    <link rel="stylesheet" href="../css/common/gridstack/gridstack.css">
    <script type='text/javascript' src='../js/common/gridstack/jquery-ui.min.js'></script>
    <script type='text/javascript' src='../js/common/gridstack/lodash.min.js'></script>
    <script type='text/javascript' src='../js/common/gridstack/gridstack.all.js'></script>
    <script type='text/javascript' src='../js/common/gridstack/knockout-min.js'></script>

    <script type='text/javascript' src='../js/common/highcharts/highcharts.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/drilldown.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/exporting.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/highcharts-more.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/highcharts-zh_CN.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/no-data-to-display.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/offline-exporting.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/oldie.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/solid-gauge.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/wordcloud.js'></script>
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.highcharts-bolt.js'></script>
    <script type='text/javascript' src='../js/plugins/highcharts-data.js'></script>

    <title>仪表板</title>
    <script>
        $(function(){
            var dashboardObj;
            var optionsMenu={
                selected:"6",
                menuOpen:true,
                hideFloat:true,
                callback:{
                    onExpand:function(){console.log('onExpand');reflowHightcharts(dashboardObj)},
                    onCollapse:function(){ console.log('onCollapse');reflowHightcharts(dashboardObj)},
                }
            };
            $(".menuLeft").menuLeftBolt(optionsMenu,function(){
                return menuLeftData;
            });
            var optionsDashBoard={
                mode: "edit",
                grid_options:{
                    verticalMargin:15,
                    cellHeight:2,
                    handle: ".drag-handle",
                    levelMargin:15
                },
                callback:{
                    onDel:function($this,delArray){console.log($this);console.log(delArray);},
                }
            };
            dashboardObj=$(".dashBoard").getDashboard(optionsDashBoard,dashboardData);
            console.log(dashboardObj.getAllWidgets());
            /* highcharts图自适应菜单收缩 */
            function reflowHightcharts(dashboardObj){
                let hightchartIdArr=dashboardObj.getAllHightchartId();
                hightchartIdArr.map(function(item){
                    $(item).highcharts().reflow();
                });
            }
            reflowHightcharts(dashboardObj)
        })
    </script>
</head>
<body>
    <nav class="blogic-nav"></nav>
    <div class="blogic-container">
        <div class="menuLeft"></div>
        <div class="blogic-content scrollBox">
            <div class="dashBoard"></div>
        </div>
    </div>
</body>
</html>