<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common/commonBlogic.css">
    <link rel="stylesheet" href="../css/common/commonBolt.css">
    <script type='text/javascript' src='../js/common/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../js/plugins/data.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.menuLeft-bolt.css">
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.menuLeft-bolt.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.dashBoard-bolt.css">
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.dashBoard-bolt.js'></script>
    
    <link rel="stylesheet" href="../css/common/gridstack/gridstack.css">
    <script type='text/javascript' src='../js/common/gridstack/jquery-ui.min.js'></script>
    <script type='text/javascript' src='../js/common/gridstack/lodash.min.js'></script>
    <script type='text/javascript' src='../js/common/gridstack/gridstack.all.js'></script>
    <script type='text/javascript' src='../js/common/gridstack/knockout-min.js'></script>

    <script type='text/javascript' src='../js/common/highcharts/highcharts.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/drilldown.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/exporting.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/highcharts-more.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/highcharts-zh_CN.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/no-data-to-display.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/offline-exporting.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/oldie.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/solid-gauge.js'></script>
    <script type='text/javascript' src='../js/common/highcharts/wordcloud.js'></script>
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.chartUtil-bolt.js'></script>
    <script type='text/javascript' src='../js/plugins/chartUtil-data.js'></script>

    <title>仪表板</title>
    <script>
        $(function(){
            var optionsMenu={
                selected:"6",
                menuOpen:true,
                hideFloat:true,
                callback:{
                    onExpand:function(){console.log('onExpand');},
                    onCollapse:function(){ console.log('onCollapse');},
                }
            };
            $(".menuLeft").menuLeftBolt(optionsMenu,function(){
                return menuLeftData;
            });
            var dashboardData={
                "options": {
                    "mode": "edit",
                    "grid_options":{
                        "verticalMargin":15,
                        "cellHeight":2,
                        "handle": ".drag-handle",
                        "float":false,
                        "levelMargin":15
                    }
                },
                "panels": [{
                    "id":"panels1",
                    "title": ".chart(areaData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 0,
                        "dataGsWidth":4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":areaData[0]
                    },{
                        "ajax":false,
                        "data":areaData[1]
                    }]
                },{
                    "id":"panels2",
                    "title": ".chart(areaSplineData)",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 0,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":areaSplineData[0]
                    }]
                },{
                    "id":"panels3",
                    "title": ".chart(areaPerData)",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 0,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":areaPerData[0]
                    },{
                        "ajax":false,
                        "data":areaPerData[1]
                    }]
                },{
                    "id":"panels4",
                    "title": ".chart(areaNorData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15,
                        "dataGsWidth": 12,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":areaNorData[0]
                    },{
                        "ajax":false,
                        "data":areaNorData[1]
                    }]
                },{
                    "id":"panels5",
                    "title": ".chart(lineData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*2,
                        "dataGsWidth": 6,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":lineData[0]
                    }]
                },{
                    "id":"panels6",
                    "title": ".chart(splineData)",
                    "location": {
                        "dataGsX": 6,
                        "dataGsY": 15*2,
                        "dataGsWidth": 6,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":splineData[0]
                    }]
                },{
                    "id":"panels7",
                    "title": ".chart(pieData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*3,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":pieData[0]
                    }]
                },{
                    "id":"panels8",
                    "title": ".chart(pieDrillData)",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*3,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":pieDrillData[0]
                    },{
                        "ajax":false,
                        "data":pieDrillData[1]
                    }]
                },{
                    "id":"panels9",
                    "title": ".chart(ringRuleData,{pieRing:{subY:30,subfontSize:'25px'}})",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*3,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        pieRing:{subY:30,subfontSize:'25px'}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":ringRuleData[0]
                    }]
                },{
                    "id":"panels10",
                    "title": ".chart(ringHalfData,{pieRing:{subY:15}})",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*4,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        pieRing:{subY:15}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":ringHalfData[0]
                    }]
                },{
                    "id":"panels11",
                    "title": ".chart(ringData,{ring:{startAngle:0,endAngle:360}})",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*4,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        ring:{startAngle:0,endAngle:360}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":ringData[0]
                    }]
                },{
                    "id":"panels12",
                    "title": ".chart(scatterData)",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*4,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":scatterData[0]
                    }]
                },{
                    "id":"panels13",
                    "title": ".chart(bubbleData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*5,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":bubbleData[0]
                    }]
                },{
                    "id":"panels14",
                    "title": ".chart(columnData)",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*5,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":columnData[0]
                    },{
                        "ajax":false,
                        "data":columnData[1]
                    }]
                },{
                    "id":"panels15",
                    "title": ".chart(columnDrillData)",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*5,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":columnDrillData[0]
                    },{
                        "ajax":false,
                        "data":columnDrillData[1]
                    }]
                },{
                    "id":"panels16",
                    "title": ".chart(columnPerData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*6,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":columnPerData[0]
                    },{
                        "ajax":false,
                        "data":columnPerData[1]
                    }]
                },{
                    "id":"panels17",
                    "title": ".chart(columnNorData)",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*6,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":columnNorData[0]
                    },{
                        "ajax":false,
                        "data":columnNorData[1]
                    }]
                },{
                    "id":"panels18",
                    "title": ".chart(barData)",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*6,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":barData[0]
                    },{
                        "ajax":false,
                        "data":barData[1]
                    }]
                },{
                    "id":"panels19",
                    "title": ".chart(barPerData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*7,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":barPerData[0]
                    },{
                        "ajax":false,
                        "data":barPerData[1]
                    }]
                },{
                    "id":"panels20",
                    "title": ".chart(barNorData)",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*7,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":barNorData[0]
                    },{
                        "ajax":false,
                        "data":barNorData[1]
                    }]
                },{
                    "id":"panels21",
                    "title": ".chart(solidgaugePreHalfData,{solidgauge:{tickAmount:5}})",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*7,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        solidgauge:{tickAmount:5}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":solidgaugePreHalfData[0]
                    }]
                },{
                    "id":"panels22",
                    "title": ".chart(solidgaugePreData,{solidgauge:{tickAmount:5},ring:{startAngle:0,endAngle:360}})",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*8,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        solidgauge:{tickAmount:5},
                        ring:{startAngle:0,endAngle:360}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":solidgaugePreData[0]
                    }]
                },{
                    "id":"panels23",
                    "title": ".chart(solidgaugeNumData,{ring:{startAngle:0,endAngle:360}})",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*8,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        ring:{startAngle:0,endAngle:360}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":solidgaugeNumData[0]
                    }]
                },{
                    "id":"panels24",
                    "title": ".chart(solidgaugeNumHalfData,{solidgauge:{tickAmount:2},tooltip:{enabled:false}})",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*8,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        solidgauge:{tickAmount:2},
                        tooltip:{enabled:false}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":solidgaugeNumHalfData[0]
                    }]
                },{
                    "id":"panels25",
                    "title": ".chart(gaugePreHalfData,{solidgauge:{tickAmount:5}, yAxis:{yTitleUnit:true},tooltip:{enabled:false}})",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*9,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        solidgauge:{tickAmount:5}, 
                        yAxis:{yTitleUnit:true},
                        tooltip:{enabled:false}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":gaugePreHalfData[0]
                    }]
                },{
                    "id":"panels26",
                    "title": ".chart(gaugePreHalfData1,{solidgauge:{tickAmount:5},tooltip:{enabled:true}})",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*9,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        solidgauge:{tickAmount:5},
                        tooltip:{enabled:true}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":gaugePreHalfData1[0]
                    }]
                },{
                    "id":"panels27",
                    "title": ".chart(gaugeNumHalfData,{solidgauge:{tickAmount:5}})",
                    "location": {
                        "dataGsX": 8,
                        "dataGsY": 15*9,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{
                        solidgauge:{tickAmount:5}
                    },
                    "widgets": [{
                        "ajax":false,
                        "data":gaugeNumHalfData[0]
                    }]
                },{
                    "id":"panels28",
                    "title": ".chart(wordcloudData)",
                    "location": {
                        "dataGsX": 0,
                        "dataGsY": 15*10,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":wordcloudData[0]
                    },{
                        "ajax":false,
                        "data":wordcloudData[1]
                    }]
                },{
                    "id":"panels29",
                    "title": ".chart(singleValueData)",
                    "location": {
                        "dataGsX": 4,
                        "dataGsY": 15*10,
                        "dataGsWidth": 4,
                        "dataGsHeight": 15
                    },
                    "options":{},
                    "widgets": [{
                        "ajax":false,
                        "data":singleValueData[0]
                    }]
                }]
            }
            $(".dashBoard").getDashboard(dashboardData);
        })
    </script>
</head>
<body>
    <nav class="blogic-nav"></nav>
    <div class="blogic-container">
        <div class="menuLeft"></div>
        <div class="blogic-content scrollBox">
            <div class="dashBoard"></div>
        </div>
    </div>
</body>
</html>