<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common/commonBlogic.css">
    <link rel="stylesheet" href="../css/common/commonBolt.css">
    <script type='text/javascript' src='../js/common/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../js/common/commonBlogic.js'></script>
    <script type='text/javascript' src='../js/plugins/data.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.menuLeft-boltNew.css">
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.menuLeft-boltNew.js'></script>

    <link rel="stylesheet" href="../css/plugins/jS.plugins.promptExpre-bolt.css">
    <script type='text/javascript' src='../js/plugins/jS.plugins.promptExpre-bolt.js'></script>

    <title>自动提示</title>
    <script>
        $(function(){
            /* var optionsMenu={
                selected:"5",
                menuOpen:true,
                hideFloat:true,
                callback:{
                    onExpand:function(){console.log('onExpand');},
                    onCollapse:function(){ console.log('onCollapse');},
                }
            }; */
            var optionsMenu={
                menuOpen:true,
                hideFloat:true,
                shrink:0,
                title:{
                    enabled:true,
                    "class":"acc-menu-log",
                    content:"日志分析"
                },
                callback:{
                    onClick:function($this,param){console.log(param)},
                    onExpand:function(shrink){},
                    onCollapse:function(shrink){},
                }
            };
            $(".menuLeft").menuLeftBolt(optionsMenu,function(){
                return menuLeftDataNew;
            });

            var optionsPrompt = {
                callback:{
                    onClickSearch:function(value){console.log("value="+value);},
                    onClickClear:function(){}
                }
            };
            var promptExpreObj=$(".autoInput").promptExpre(optionsPrompt,promptExpreData);
            console.log(promptExpreObj.getInputValue());
        })
    </script>
</head>
<body>
    <nav class="blogic-nav">
        <div class="topbar">
            <div class="menu-wrap float-left">
                <div class="menu-wrap-img"></div>
            </div>
            <div class="logo-wrap float-left">
                <img src="../img/common/logo.svg">
            </div>
        </div>
        <div class="sidebar">
            <div class="blogic-sidebar-mask-wrap"></div>
            <div class="blogic-sidebar-wrap">
                <nav class="outer-sidebar">
                    <ul class="acc-menu">
                        <li>
                            <div class="acc-menu-home"></div>
                            <span>首页</span>
                        </li>
                        <li>    
                            <div class="acc-menu-log"></div>
                            <span>日志分析</span>
                        </li>
                        <li>
                            <div class="acc-menu-app"></div>
                            <span>应用分析</span>
                        </li>
                        <li>
                            <div class="acc-menu-cloud"></div>
                            <span>云监控</span>
                        </li>
                        <li>
                            <div class="acc-menu-set"></div>
                            <span>设置</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
    <div class="blogic-container">
        <div class="menuLeft"></div>
        <div class="blogic-content scrollBox">
            <input type="text" class='autoInput'/>
        </div>
    </div>
</body>
</html>