<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common/commonBlogic.css">
    <link rel="stylesheet" href="../css/common/commonBolt.css">
    <script type='text/javascript' src='../js/common/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='../js/plugins/data.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.menuLeft-bolt.css">
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.menuLeft-bolt.js'></script>

    <link rel="stylesheet" href="../css/plugins/jQuery.plugins.selectTime-bolt.css">
    <script type='text/javascript' src='../js/common/laydate/laydate.js'></script>
    <script type='text/javascript' src='../js/plugins/jQuery.plugins.selectTime-bolt.js'></script>

    <title>时间选择</title>
    <script>
        $(function(){
            var optionsMenu={
                selected:"1",
                menuOpen:true,
                hideFloat:true,
                callback:{
                    onExpand:function(){console.log('onExpand');},
                    onCollapse:function(){ console.log('onCollapse');},
                }
            };
            $(".menuLeft").menuLeftBolt(optionsMenu,function(){
                return menuLeftData;
            });

            var optionsTime = {
                deTime:"5m",//"1545618901000-1545732098371"
                interval:1,
                listArr:["5m","20m","1h","3h","6h","12h","1d","2d"],
                switch:true,
                serverTime:"/blogic/app/monitor/ajax/get/server/time",
                callback:{
                    onClickSearch:function(from,to){console.log("from="+from+";to="+to);},
                    onClickTimeTag:function(from,to){ console.log("from="+from+";to="+to);console.log(selectTimeObj.getSelectedTime());
            console.log(selectTimeObj.getSelectedTag());},
                    onClickClear:function(){console.log("clear");}
                }
            };
            var selectTimeObj=$(".selectTime").selectTime(optionsTime);
            console.log(selectTimeObj.getSelectedTime());
            console.log(selectTimeObj.getSelectedTag());
            setTimeout(function(){
                console.log("-=-=-=-=");
                console.log(selectTimeObj.getSelectedTime());
                console.log(selectTimeObj.getSelectedTag());
            },3000)
        })
    </script>
</head>
<body>
    <nav class="blogic-nav"></nav>
    <div class="blogic-container">
        <div class="menuLeft"></div>
        <div class="blogic-content scrollBox">
            <div class="selectTime"></div>
        </div>
    </div>
</body>
</html>