body, html {
    height: 100%;
    font-family: 微软雅黑;
    font-size: 14px;
    color: rgb(51, 51, 51);
    overflow-y: hidden;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body {
    margin: 0;
    padding-top: 50px;
    background-color: #EAEAEA;
}
.blogic-nav{
    height: 50px;
    background-color: #222;
    position: fixed;
    right: 0;
    left: 0;
    top: 0px;
}
.blogic-container{
    height: 100%;
}
.blogic-content{
    padding:10px;
    height:100%;
}
/* .blogic-content:after{
    content: "";
    display: table;
    clear: both;
}
.blogic-content:before{
    content: "";
    display: table;
} */