body, html {
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
ul {
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.float-right{
    float:right;
}
.float-left{
    float:left;
}
.textOverflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.noDataAlert{
    margin-top: 150px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    color: darkgrey!important;
    font-size: 25px!important;
    width: 240px!important;
    text-align: center!important;
}
/*滚动条整体样式*/
.scrollBox::-webkit-scrollbar {
    width: 5px;
    background: #f3f3f3;
    height: 5px;
}
/*滚动条里面小方块*/
.scrollBox::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9d9d9d;
    height: 120px;
}
  /*滚动条里面轨道*/
.scrollBox::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}
.scrollBox{
    overflow-y: auto;
}
/* 表格头部固定 */
.tableOut tbody.layout{
    display:block;
    /*height:300px;*/
    overflow-x:hidden;
    overflow-y:auto;
}
.tableOutPa thead,
.tableOut tbody.layout tr{
    display:table;
    width:100%;
    table-layout:fixed;
}
.tbodyOut{
    width:calc(100% + 5px)!important;
    width: -webkit-calc(100% + 5px)!important;
    width:-moz-calc(100% + 5px)!important;
 }
 .panel-load{
    color: #777171;
    position:absolute;
    top:40%;
    left:calc(50% - 15px);
    left: -webkit-calc(50% - 15px);
    left:-moz-calc(50% - 15px);
}